<div class="chat-container">
  <div class="message-container" *ngIf="contents.length === 0">
    <p class="message">
      Welcome To GhostAI <br />
      Write something to get started.
    </p>
  </div>
  <div
    *ngFor="let content of contents"
    class="chat-message"
    [ngClass]="content.agent"
  >
    <img [src]="'assets/avatar-' + content.agent + '.png'" class="avatar" />
    <div class="message-details">
      <p
        class="message-content"
        [ngClass]="{ loading: content.loading }"
        [innerHTML]="content.message | lineBreak"
      ></p>
    </div>
  </div>
</div>

<div class="message-bar">
  <input
    placeholder="Send a message"
    class="message-input"
    [(ngModel)]="message"
    (keyup.enter)="sendMessage(message)"
  />
  <button class="send-button" (click)="sendMessage(message)">
    <span>Send</span>
  </button>
</div>
