/* app.component.scss */

:host {
  background-color: black; /* Set your desired background color */
}

.drawer-container {
  width: auto;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.setting-toolbar {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

