<mat-drawer-container class="drawer-container" autosize style="background-color: #000000;">
    <mat-drawer mode="side" opened style="background-color: rgb(0, 0, 0)">
        <mat-nav-list>
            <a mat-list-item routerLink="chat">
                <mat-icon matListItemIcon style="filter: invert(100%);">chat_bubble</mat-icon>
                <span matListItemTitle style="color: white;">Chat</span>
            </a>
            <a mat-list-item routerLink="text">
                <mat-icon matListItemIcon style="filter: invert(100%);">subject</mat-icon>
                <span matListItemTitle style="color: white;">Text Generation</span>
            </a>
            <a mat-list-item routerLink="vision">
                <mat-icon matListItemIcon style="filter: invert(100%);">image</mat-icon>
                <span matListItemTitle style="color: white;">Vision</span>
            </a>
            <a mat-list-item routerLink="image-gen">
                <mat-icon matListItemIcon style="filter: invert(100%);">image</mat-icon>
                <span matListItemTitle style="color: white;">Image Generation</span>
            </a>
            <!-- New Settings Route -->
            <a mat-list-item routerLink="settings">
                <mat-icon matListItemIcon style="filter: invert(100%);">settings</mat-icon>
                <span matListItemTitle style="color: white;">Settings</span>
            </a>
        </mat-nav-list>
    </mat-drawer>
  
    <mat-drawer-content style="background-color: rgb(0, 0, 0)">
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
