<!-- settings.component.html -->

<div class="settings-container">
    <h1 style="color: white;">Settings</h1>
    
    <!-- List of settings options -->
    <div class="setting-option">
      <label for="option1" style="color: white;">Option 1:</label>
      <input type="checkbox" id="option1">
    </div>
    
    <div class="setting-option">
      <label for="option2" style="color: white;">Option 2:</label>
      <input type="checkbox" id="option2">
    </div>
    
    <!-- Add more settings options as needed -->
  
  </div>
  